<h3 class="text-center text-primary mt-4">List of Packages</h3>

<div class="container mt-4">
  <table class="table table-striped table-hover table-bordered">
    <thead class="bg-primary text-white">
      <tr>
        <th>Package Title</th>
        <th>Package ID</th>
        <th>Weight (g)</th>
        <th>Destination</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop through packages and display them -->
      <tr *ngFor="let pkg of packages">
        <td>{{ pkg.package_title }}</td>
        <td>{{pkg.package_id}}</td>
        <td>{{ pkg.package_weight | kgToGrams }}</td> <!-- Use custom pipe here -->
        <td>{{ pkg.package_destination }}</td>
        <td>{{ pkg.description }}</td>
        <td>
          <button class="btn btn-danger" (click)="deletePackage(pkg._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
